@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Logo-Text";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");

  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular" !important;
}

body,
body > * {
  overflow-x: hidden;
}

.drag-disable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: unset;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

#logo-text {
  font-family: "Logo-Text" !important;
}

#loader {
  border: 16em solid #f3f3f3; /* Light grey */
  border-top: 16em solid #686868; /* Blue */
  border-radius: 50%;
  width: 120em;
  height: 120em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
